<div>
    {{#each item}}

    <p>{{this.id}} -- {{this.nome}} -- {{this.preco}} -- <a href="/up/{{this.id}}">
            <button>editar</button>
        </a>
    </p>
    {{/each}}
    <a href="/form">
    <button>Adicionar</button>
    </a>

</div>