<form class="up" action="/enviado" method="POST">
    <p>NOME:</p>
    <input type="text" name="nome" id="email">
    <p>PREÇO:</p>
    <input type="text" name="preco" id="name">
    <button class="botao marginleft">Adicionar</button>
</form>