<form action="/enviado" method="POST">
    <label for="email">EMAIL</label>
    <input type="text" name="nome" id="email" value="">
    <label for="name">NAME</label>
    <input type="text" name="preco" id="name">

    <button>Enviar</button>
</form>