<form action="/enviado" method="POST">
    <label for="text">NOME</label>
    <input type="text" name="nome" id="email">
    <label for="text">PREÇO</label>
    <input type="text" name="preco" id="name">

    <button>Enviar</button>
</form>