<form action="/ok/{{item.id}}" method="PUT">
    <label for="text">NOME</label>
    <input type="text" name="nome" id="nome" value={{item.nome}}>
    <label for="text">PREÇO</label>
    <input type="text" name="preco" id="preço" value={{item.preco}}>

    <button>Enviar</button>
</form>